@using Shared.DTOs.Teacher
@using Web.Services.Interfaces
@inject ITest _test


@foreach (var item in items)
{
    <p>@item.Vorname</p>
}
@code {
    private List<TeacherDTO> items = new List<TeacherDTO>();

    protected override async Task OnInitializedAsync()
    {
        items = await _test.GetTeachersAsync();
    }
}